Projetoc\#/Bootloader/bin/Release/net8.0-windows/win-x64/publish/Bootloader.exe filter=lfs diff=lfs merge=lfs -text
bin/Release/net8.0-windows/win-x64/publish/Bootloader.exe filter=lfs diff=lfs merge=lfs -text
